:root {
	--background-color: #e5e5e5;
	--main-color: #212121;
	--secondary-color: #757575;
	--logo-color: #2196f3;
	--button-background-color: #f5f4fa;
	--main-font: Roboto, sans-serif;
	--line-color: #ececec;
	--footer-text-color: rgba(255, 255, 255, 0.6);
	--icon-color: #afb1b8;
	--footer-color: #2f303a;
	--secondary-background-color: #ffffff;
	--border-tile-color: #eeeeee;
	--temporary-color: aqua;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0px;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

ul,
ol {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

section {
	padding-top: 94px;
	padding-bottom: 94px;
}

body {
	font-family: var(--main-font);
	color: var(--main-color);
	font-size: 14px;
	letter-spacing: 0.03em;
	background-color: var(--secondary-background-color);
}

.container {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
	width: 1200px;
}

.current:active {
	color: var(--logo-color);
}

.header {
	display: flex;
	height: 80px;
	align-items: center;
	border-bottom: 1px solid var(--secondary-background-color);
}

.logo-header {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--logo-color);
	text-decoration: none;
	word-spacing: -6px;
}

.logo-black {
	color: var(--main-color);
}

.logo-white {
	color: var(--secondary-background-color);
}

nav {
	margin-left: 93px;
}

.navigation-link:hover {
	color: var(--logo-color);
}

.navigation {
	display: flex;
	gap: 46px;
}

.navigation-link {
	display: block;
	text-decoration: none;
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--main-color);
	padding: 32px 0;
}

.contacts {
	display: flex;
	gap: 50px;
	margin-left: auto;
}

.contact-mail-header {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
}

.mail-icon {
	margin-right: 10px;
}

.contact-phone-header {
	font-weight: 500;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
}

.phone-icon {
	margin-right: 10px;
}

hr {
	border: 1px solid var(--line-color);
}

.banner {
	max-width: 1600px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/img_behind_banner.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 200px;
	padding-bottom: 200px;
}

.banner-text {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	width: 696px;
	margin: 0 auto;
	margin-bottom: 30px;
	color: var(--secondary-background-color);
}

.banner-button {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	background-color: var(--logo-color);
	color: var(--secondary-background-color);
	cursor: pointer;
	text-align: center;
	letter-spacing: 0.06em;
	border: none;
	min-width: 200px;
	border-radius: 4px;
	padding: 10px 42px;
}

button:hover {
	background-color: var(--logo-color);
	color: var(--secondary-text-color);
	cursor: pointer;
}

.menu-buttons {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin-bottom: 50px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.grid-tile-set {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.tile {
	width: 370px;
}

.portfolio-button {
	font-family: "Roboto";
	font-weight: 700;
	font-size: 16px;
	line-height: 1.62;
	letter-spacing: 0.03em;

	padding: 6px 22px;
	cursor: pointer;
	color: var(--main-color);
	border-radius: 4px;
	border-color: var(--button-background-color);
	background-color: var(--button-background-color);
	border: none;
}

.portfolio-button:hover,
.portfolio-button:focus {
	color: var(--secondary-background-color);
	background-color: var(--logo-color);
}

.tile-text {
	border: 1px solid var(--border-tile-color);
	padding: 20px 24px;
}

.tile-header {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
}

.tile-subheader {
	font-weight: 400;
	font-size: 16px;
	line-height: 2;
	letter-spacing: 0.03em;
	color: var(--secondary-color);
}

.logo-footer {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	color: var(--logo-color);
	text-decoration: none;
	word-spacing: -6px;
}

.localization-address {
	font-weight: 400;
	line-height: 1.71;
	color: var(--secondary-background-color);
}

.contact-mail-footer {
	font-weight: 400;
	line-height: 1.71;

	color: var(--secondary-color);
	margin-bottom: 9px;
}

.contact-phone-footer {
	font-weight: 400;
	line-height: 1.71;
	color: var(--secondary-color);
	margin-bottom: 9px;
}

.lorem-section {
	padding-bottom: 0px;
}

.lorem-list {
	display: flex;
	gap: 30px;
}

.lorem-icon {
	background-color: var(--button-background-color);
	border-radius: 4px;
	width: 270px;
	height: 120px;
	padding: 25px;
	margin-bottom: 30px;
}

.lorem-article {
	width: 270px;
	height: 251px;
}

.lorem4header {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--main-color);
	margin-bottom: 10px;
}

.lorem4text {
	line-height: 1.71;
	color: var(--secondary-color);
	width: 270px;
}

.jobs-section {
	padding: 94px 0;
}

.what-we-do {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--main-color);
	margin-bottom: 50px;
}

.jobs-list {
	display: flex;
	gap: 30px;
	justify-content: center;
}

.staff-section {
	margin: 0px;
	background-color: var(--button-background-color);
}

.our-staff {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 50px;
}

.workplace-list {
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

.workplace {
	background-color: var(--secondary-background-color);
	border-radius: 10px;
}

.staff-workplace {
	padding-top: 30px;
	padding-bottom: 30px;
	text-align: center;
}

.staff-names {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.18;
	letter-spacing: 0.03em;
	color: var(--main-color);
	margin-bottom: 10px;
}

.staff-position {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--secondary-color);
}

a:link {
	text-decoration: none;
}

a:hover {
	color: var(--logo-color);
}

a:focus {
	color: var(--logo-color);
}

a:active {
	color: transparent;
}

.footer {
	background-color: var(--footer-color);
	padding-top: 60px;
	padding-bottom: 60px;
}

address {
	font-style: normal;
	margin-top: 20px;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.contacts-lists:not(:last-child) {
	margin-bottom: 9px;
}

.contact-mail-footer:hover,
.contact-mail-footer:focus {
	color: var(--logo-color);
}

.contact-phone-footer:hover,
.contact-phone-footer:focus {
	color: var(--logo-color);
}
